{% include "questions/questionsBase.html" %}

<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "TRx_question_app/dual_pane.css" %}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="{% static "questions/setup_ajax.js" %}"></script>
  <script src="{% static "questions/package_selection.js" %}"></script>

</head>

<body>
  <div class="html_list">
    <h1>Select Project</h1>

    <div>
      <ul class="sortable">
        {% for project in projects %}
        <li onclick="update_selected(this);" project_id="{{ project.id }}">{{ project.project_name }}</a>
      {% endfor %}
    </ul>
  </div>
  <form action="{% url 'questions:add' %}" method="get" style="display: inline"> {% csrf_token %}
    <input type="submit" value="add project" />
  </form>
  <form onsubmit="return redirect_to_edit_page('/questions/editProject/', this, 'project_id');" action="" method="get" style="display: inline"> {% csrf_token %}
    <input type="submit" value="edit project" />
  </form>
  <form onsubmit="return confirm_and_delete('/questions/deleteProject/', this, 'project_id');" action="" method="get" style="display: inline"> {% csrf_token %}
    <input type="submit" value="delete project" />
  </form>
  <form onsubmit="return redirect_to_edit_page('/questions/demoProject/', this, 'project_id');" action="" method="get" style="display: inline"> {% csrf_token %}
    <input type="submit" value="demo project" />
  </form>
  <form onsubmit="return redirect_to_edit_page('/questions/generateFile/', this, 'project_id');" action="" method="get" style="display: inline"> {% csrf_token %}
    <input type="submit" value="generate file" />
  </form>


</div>
</body>


<!-- want to be able to delete, edit, demo, generate json file
Might want a sidebar that keeps track of where you are in the app -->
