{% extends "questions/sortBase.html" %}

{% block title %}
  <h1>Edit Project: "{{ project_name }}"</h1>
{% endblock %}

{% block add_form %}
  <form action="addChain/" method="post" style="display:inline"> {% csrf_token %}
          {{ form }}
          <!-- {{ form.as_p }} -->
          <input type="submit" value="add chain" />
  </form>
{% endblock %}


{% block pane1 %}
  {% for chain in used_chains %}
  <li onclick="update_selected(this);" chain_id="{{ chain.id }}">{{ chain.chain_name }}
  {% endfor %}
{% endblock %}

{% block pane2 %}
  {% for chain in unused_chains %}
  <li onclick="update_selected(this);" chain_id="{{ chain.id }}">{{ chain.chain_name }}
  {% endfor %}
{% endblock %}

{% block save_button %}
	  <form onsubmit="save_order('/questions/saveProject/{{ project_index }}/', 'chain_id'); return false;" style="display: inline">
		  <input type="submit" value="save project" />
	  </form>
{% endblock %}

{% block edit_button %}
	  <form onsubmit="save_order('/questions/saveProject/{{ project_index }}/', 'chain_id'); return redirect_to_edit_page('editChain/', this, 'chain_id');" action="" method="get" style="display: inline"> {% csrf_token %}
		  <input type="submit" value="edit chain" />
	  </form>
{% endblock %}

	  <script> $('#stack, #non-stack').sortable({ connectWith: '.connected', dropOnEmpty: true }); </script>
  </div>

  </body>
</html>

