{% extends "questions/listBase.html" %}

{% block title %}
  <h1>Surgery Home</h1>
{% endblock %}

{% block pane %}
  {% for surgery in surgeries %}
  <li class="list-group-item" onclick="update_selected(this);" surgery_id="{{ surgery.id }}">
    {{ surgery.surgery_name }}
  </li>
{% endfor %}

{% endblock %}

{% block add_button %}
  <form action="{% url 'questions:surgeryHome' %}" method="post" style="display: inline"> {% csrf_token %}
    {{ form }}
    <input type="submit" value="add surgery" />
  </form>
{% endblock %}

{% block delete_button %}
  <form onsubmit="return confirm_and_delete('/questions/deleteSurgery/', this, 'surgery_id');" action="" method="get" style="display: inline"> {% csrf_token %}
    <input type="submit" value="delete surgery" />
  </form>
{% endblock %}

