{% extends "trx_app/sortBase.html" %}

{% block title %}
  <h1>Edit Chain: "{{ chain_name }}"</h1>
{% endblock %}

{% block add_form %}
  <form action="addQuestion/" method="get" style="display: inline"> {% csrf_token %}
          {{ form }}
          <input type="submit" value="add question" />
  </form>
{% endblock %}


{% block pane1 %}
  {% for question in used_questions %}
  <li onclick="update_selected(this);" question_id="{{ question.id }}">{{ question.question_text|truncatechars:30 }}
  {% endfor %}
{% endblock %}

{% block pane2 %}
  {% for question in unused_questions %}
  <li onclick="update_selected(this);" question_id="{{ question.id }}">{{ question.question_text|truncatechars:30 }}
  {% endfor %}
{% endblock %}

{% block save_button %}
	  <form onsubmit="save_order('/trx_app/saveChain/{{ chain_index }}/', 'question_id'); return false;" style="display: inline">
		  <input type="submit" value="save chain" />
	  </form>
{% endblock %}

{% block edit_button %}
	  <form onsubmit="save_order('/trx_app/saveChain/{{ chain_index }}/', 'question_id'); return redirect_to_edit_page('editQuestion/', this, 'question_id');" action="" method="get" style="display: inline"> {% csrf_token %}
		  <input type="submit" value="edit question" />
	  </form>
{% endblock %}

	  <script> $('#stack, #non-stack').sortable({ connectWith: '.connected', dropOnEmpty: true }); </script>
  </div>

  </body>
</html>

